blinker
click
Flask
Flask-JWT-Extended
Flask-Mail
flask-marshmallow
Flask-SQLAlchemy
gunicorn
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
pip
PyJWT
setuptools
six
SQLAlchemy
Werkzeug